.callbackblock-overlay
.callbackblock
	.g-wrapper
		.callbackblock__content
			.callbackblock__content-desc
				p Узнать какое
				span финансирование
				p и из каких источников
				span может получить Ваша организация
			.callbackblock__content-desc
				.callbackblock__content-button.callback
					.callbackblock__content-button-desc Перезвоним вам за 15 минут
