.gallery
	.g-wrapper
		.galleryblock
			.galleryblock__items
				.galleryblock__items-item 1
					img(src="/images/brands/1.png")
				.galleryblock__items-item 2
					img(src="/images/brands/2.png")
				.galleryblock__items-item 3
					img(src="/images/brands/3.jpg")
				.galleryblock__items-item 4
					img(src="/images/brands/4.png")
				.galleryblock__items-item 5
					img(src="/images/brands/5.jpg")
				.galleryblock__items-item 6
					img(src="/images/brands/6.png")
				.galleryblock__items-item 7
					img(src="/images/brands/7.jpg")
				.galleryblock__items-item 8
					img(src="/images/brands/8.jpg")
				.galleryblock__items-item 9
					img(src="/images/brands/9.png")
				.galleryblock__items-item 10
					img(src="/images/brands/10.jpg")
				.galleryblock__items-item 11
					img(src="/images/brands/11.png")
			.galleryblock__info
				.galleryblock__info-title Минпромторг России
				.galleryblock__info-image(style="background: url(/images/brands/1.png) 50% 50% no-repeat; background-size: contain;")
				a(href="https://минпромторг.рф").galleryblock__info-link https://минпромторг.рф
				.galleryblock__info-text Сущность и концепция маркетинговой программы изящно специфицирует инструмент маркетинга. Тем не менее, процесс стратегического планирования основан на тщательном анализе. К тому же внутрифирменная реклама ускоряет конструктивный целевой сегмент рынка. В рамках концепции Акоффа и Стэка, рейт-карта пока плохо отражает медиаплан.
				.galleryblock__info-prop Общий объём:
					span 10 млрд.
				.galleryblock__info-prop Возможное привлечение финансов:
					span 10 млн.
				.galleryblock__info-prop Отрасли:
					span промышленная, стартап
