.home-overlay
.home
	.home__leftblock
	.home__rightblock
		.home__rightblock-text
			.home__rightblock-text-content ISDS
	.g-wrapper
		.home__centerblock
			.home__centerblock-title
				h1 SMM-сопровождение
			.home__centerblock-desc и алгоритмы интернет-коммуникаций для региональных органов власти
			.home__centerblock-li <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="#D90429"/><path d="M11.3348 6.36607C11.4182 6.4494 11.4598 6.55059 11.4598 6.66964C11.4598 6.78869 11.4182 6.88988 11.3348 6.97321L8.10268 10.2054L7.49554 10.8125C7.4122 10.8958 7.31101 10.9375 7.19196 10.9375C7.07292 10.9375 6.97173 10.8958 6.88839 10.8125L6.28125 10.2054L4.66518 8.58929C4.58185 8.50595 4.54018 8.40476 4.54018 8.28571C4.54018 8.16667 4.58185 8.06548 4.66518 7.98214L5.27232 7.375C5.35565 7.29167 5.45685 7.25 5.57589 7.25C5.69494 7.25 5.79613 7.29167 5.87946 7.375L7.19196 8.69196L10.1205 5.75893C10.2039 5.67559 10.3051 5.63393 10.4241 5.63393C10.5432 5.63393 10.6443 5.67559 10.7277 5.75893L11.3348 6.36607Z" fill="white"/></svg> Интеграция системы «Интернет-менеджмент»
			.home__centerblock-li <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="#D90429"/><path d="M11.3348 6.36607C11.4182 6.4494 11.4598 6.55059 11.4598 6.66964C11.4598 6.78869 11.4182 6.88988 11.3348 6.97321L8.10268 10.2054L7.49554 10.8125C7.4122 10.8958 7.31101 10.9375 7.19196 10.9375C7.07292 10.9375 6.97173 10.8958 6.88839 10.8125L6.28125 10.2054L4.66518 8.58929C4.58185 8.50595 4.54018 8.40476 4.54018 8.28571C4.54018 8.16667 4.58185 8.06548 4.66518 7.98214L5.27232 7.375C5.35565 7.29167 5.45685 7.25 5.57589 7.25C5.69494 7.25 5.79613 7.29167 5.87946 7.375L7.19196 8.69196L10.1205 5.75893C10.2039 5.67559 10.3051 5.63393 10.4241 5.63393C10.5432 5.63393 10.6443 5.67559 10.7277 5.75893L11.3348 6.36607Z" fill="white"/></svg> Работа с обращениями граждан
			.home__centerblock-li <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="#D90429"/><path d="M11.3348 6.36607C11.4182 6.4494 11.4598 6.55059 11.4598 6.66964C11.4598 6.78869 11.4182 6.88988 11.3348 6.97321L8.10268 10.2054L7.49554 10.8125C7.4122 10.8958 7.31101 10.9375 7.19196 10.9375C7.07292 10.9375 6.97173 10.8958 6.88839 10.8125L6.28125 10.2054L4.66518 8.58929C4.58185 8.50595 4.54018 8.40476 4.54018 8.28571C4.54018 8.16667 4.58185 8.06548 4.66518 7.98214L5.27232 7.375C5.35565 7.29167 5.45685 7.25 5.57589 7.25C5.69494 7.25 5.79613 7.29167 5.87946 7.375L7.19196 8.69196L10.1205 5.75893C10.2039 5.67559 10.3051 5.63393 10.4241 5.63393C10.5432 5.63393 10.6443 5.67559 10.7277 5.75893L11.3348 6.36607Z" fill="white"/></svg> Повышение репутации в социальных сетях
			.home__centerblock-buttons
				.home__centerblock-buttons-button.callback
				a(href="#").home__centerblock-buttons-download
					i.fa.fa-download
					span Скачать бриф
