.project
	.g-wrapper
		.projectblock
			.projectblock__title Проектная группа
			.projectblock__list
				.projectblock__list-item
					i.fa.fa-user
					span Руководитель компании
				.projectblock__list-item
					i.fa.fa-user
					span Контент-менеджер
				.projectblock__list-item
					i.fa.fa-user
					span Аналитик
				.projectblock__list-item
					i.fa.fa-user
					span SMM-специалист
				.projectblock__list-item
					i.fa.fa-user
					span Копирайтер
			.projectblock__text
				p Ощущение мира философски раскладывает на элементы из ряда вон выходящий структурализм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
				p Наряду с этим отношение к современности амбивалентно творит данный даосизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Искусство, конечно, естественно представляет собой здравый смысл.
