.team
	.g-wrapper
		.teamblock
			.teamblock__title Наша команда
			.teamblock__items
				.teamblock__items-item
					.teamblock__items-item-image
						img(src="/images/photo.jpg")
					.teamblock__items-item-title Иван Иванов
					.teamblock__items-item-subtitle Ген. директор
					.teamblock__items-item-text Искусство планирования, на первый взгляд, поразительно. Рекламный клаттер обычно правомочен.
				.teamblock__items-item
					.teamblock__items-item-image
						img(src="/images/photo.jpg")
					.teamblock__items-item-title Иван Иванов
					.teamblock__items-item-subtitle Ген. директор
					.teamblock__items-item-text Искусство планирования, на первый взгляд, поразительно. Рекламный клаттер обычно правомочен.
				.teamblock__items-item
					.teamblock__items-item-image
						img(src="/images/photo.jpg")
					.teamblock__items-item-title Иван Иванов
					.teamblock__items-item-subtitle Ген. директор
					.teamblock__items-item-text Искусство планирования, на первый взгляд, поразительно. Рекламный клаттер обычно правомочен.
				.teamblock__items-item
					.teamblock__items-item-image
						img(src="/images/photo.jpg")
					.teamblock__items-item-title Иван Иванов
					.teamblock__items-item-subtitle Ген. директор
					.teamblock__items-item-text Искусство планирования, на первый взгляд, поразительно. Рекламный клаттер обычно правомочен.
