.gallery-overlay
	position absolute
	background-color rgba(0,0,0,.7)
	width 100%
	height 100%
.gallery
	width 100%
	background url(/images/callback-bg.jpg) 50% 50% no-repeat
	.galleryblock
		padding: 150px 0;
		display flex
		justify-content space-between
		margin-top -80px
		z-index 3
		flex-wrap wrap
		position relative
		&__title
			font-family Medium
			font-size 2rem
			line-height 38px
			color $white
			flex-basis 100%
			margin-bottom 28px
			& div
				width 35%
		&__items
			flex-basis 35%
			display flex
			flex-wrap wrap
			&-item
				flex-basis 100%
				display flex
				align-items center
				justify-content center
				position relative
				margin-bottom 10px
				cursor pointer
				border 1px solid $white
				padding 22px
				background rgba(255, 255, 255, 0.15)
				&:hover
					background linear-gradient(81.91deg, #F9ED32 0%, #EE2A7B 100%)
				& span
					text-transform uppercase
					font-size 0.75rem
					line-height 11px
					color $white
					font-family Bold
				& svg
					position absolute
					left 20px
					top calc(50% - 14px)
				&-active
					background linear-gradient(81.91deg, #F9ED32 0%, #EE2A7B 100%)
		&__info
			flex-basis 60%
			position relative
			&-map
				position absolute
				top -37%
				& img
					width 100%
@media(max-width: 1140px)
	.gallery
		.galleryblock
			&__info
				&-map
					top -27%
@media(max-width: 1040px)
	.gallery
		.galleryblock
			padding-bottom 50px
@media(max-width: 991px)
	.gallery
		.galleryblock
			&__title
				& div
					width 100%
			&__items
				flex-basis 100%
			&__info
				flex-basis 100%
				&-map
					position relative
					top auto
