.prices
	height 490px
	width 100%
	.pricesblock
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-top -80px
		position relative
		z-index 3
		background-color $white
		&__title
			height 130px
			display flex
			align-items center
			padding 0 45px
			font-family Medium
			font-size 2rem
			line-height 38px
			color $text
			flex-basis 100%
			border-bottom 1px solid #ececec
		&__items
			display flex
			width 100%
			padding 30px 0px 50px
			&-item
				padding 0 45px
				flex-basis 33%
				position relative
				border-right 1px solid #ececec
				&:last-child
					border-right none
				&-image
					height 100px
					display flex
					align-items center
					background-color #4D4D4D
					position relative
					& svg
						margin-left 10px
					&-number
						position absolute
						right 30px
						font-family Black
						font-size 4.5rem
						line-height 69px
						color rgba(255, 255, 255, 0.1)
				&-title
					transition .3s
					color $text
					font-size 1.125rem
					margin-top 20px
					line-height 18px
					margin-bottom 20px
					font-family Medium
				&-li
					border-bottom 1px solid #ececec
					font-family Regular
					font-size 0.75rem
					line-height 17px
					color $text
					position relative
					padding 10px
					&:before
						background-color $red
						border-radius 50%
						content ''
						position absolute
						display inline-block
						width 3px
						height 3px
						left 0
						top calc(50% - 1.5px)
				&-price
					margin-top 20px
					color $text
					font-size 1.125rem
					font-family Medium
					line-height 17px
@media(max-width: 1040px)
	.prices
		height 100%
		padding-bottom 40px
		.pricesblock
			margin 0
			&__title
				height 80px
				padding 0
			&__items
				padding 0
				flex-wrap wrap
				&-item
					padding 30px 5px 0 5px
					flex-basis 33%
@media(max-width: 768px)
	.prices
		.pricesblock
			&__items
				&-item
					flex-basis 100%
					border-right none
					padding 30px 0 0 0
