.team
	height 395px
	width 100%
	.teamblock
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-top -80px
		position relative
		z-index 3
		background-color $white
		&__title
			height 130px
			display flex
			align-items center
			padding 0 45px
			font-family Medium
			font-size 2rem
			line-height 38px
			color $text
			flex-basis 100%
			border-bottom 1px solid #ececec
		&__items
			display flex
			padding 30px 0 60px
			&-item
				padding 0 45px
				position relative
				text-align center
				&:before
					content ''
					position absolute
					right 0
					display inline-block
					height 80%
					width 1px
					background-color #ececec
					top 10%
				&-image	img
					filter grayscale(100%);
					transition .3s
					opacity .6
					width 100%
				&:hover img
					filter grayscale(0%);
					opacity 1
				&:hover .teamblock__items-item-title
					color $red
				&-title
					transition .3s
					color $text
					font-size 1.125rem
					margin-top 20px
					line-height 17px
					margin-bottom 6px
					font-family Medium
				&-subtitle
					font-size 0.75rem
					font-family Regular
					color rgba(17, 17, 17, 0.6)
					line-height 17px
					margin-bottom 15px
				&-text
					font-size 0.75rem
					font-family Regular
					line-height 17px
					color $text
				&:last-child
					&:before
						display none
@media(max-width: 1040px)
	.team
		height 100%
		padding-bottom 40px
		.teamblock
			margin 0
			&__title
				height 80px
				padding 0
			&__items
				padding 0
				flex-wrap wrap
				&-item
					padding 30px 5px 0 5px
					flex-basis 50%
					&:before
						display none
					&-text
						font-size 1rem
					&-subtitle
						font-size 1rem
