.gallery-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}
.gallery {
  width: 100%;
  background: url("/images/callback-bg.jpg") 50% 50% no-repeat;
}
.gallery .galleryblock {
  padding: 150px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -80px;
  z-index: 3;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
}
.gallery .galleryblock__title {
  font-family: Medium;
  font-size: 2rem;
  line-height: 38px;
  color: $white;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 28px;
}
.gallery .galleryblock__title div {
  width: 35%;
}
.gallery .galleryblock__items {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.gallery .galleryblock__items-item {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid $white;
  padding: 22px;
  background: rgba(255,255,255,0.15);
}
.gallery .galleryblock__items-item:hover {
  background: -webkit-linear-gradient(8.09deg, #f9ed32 0%, #ee2a7b 100%);
  background: -o-linear-gradient(8.09deg, #f9ed32 0%, #ee2a7b 100%);
  background: linear-gradient(81.91deg, #f9ed32 0%, #ee2a7b 100%);
}
.gallery .galleryblock__items-item span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 11px;
  color: $white;
  font-family: Bold;
}
.gallery .galleryblock__items-item svg {
  position: absolute;
  left: 20px;
  top: -webkit-calc(50% - 14px);
  top: calc(50% - 14px);
}
.gallery .galleryblock__items-item-active {
  background: -webkit-linear-gradient(8.09deg, #f9ed32 0%, #ee2a7b 100%);
  background: -o-linear-gradient(8.09deg, #f9ed32 0%, #ee2a7b 100%);
  background: linear-gradient(81.91deg, #f9ed32 0%, #ee2a7b 100%);
}
.gallery .galleryblock__info {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  position: relative;
}
.gallery .galleryblock__info-map {
  position: absolute;
  top: -37%;
}
.gallery .galleryblock__info-map img {
  width: 100%;
}
@media (max-width: 1140px) {
  .gallery .galleryblock__info-map {
    top: -27%;
  }
}
@media (max-width: 1040px) {
  .gallery .galleryblock {
    padding-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .gallery .galleryblock__title div {
    width: 100%;
  }
  .gallery .galleryblock__items {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .gallery .galleryblock__info {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .gallery .galleryblock__info-map {
    position: relative;
    top: auto;
  }
}
