.team {
  height: 395px;
  width: 100%;
}
.team .teamblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -80px;
  position: relative;
  z-index: 3;
  background-color: $white;
}
.team .teamblock__title {
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
  font-family: Medium;
  font-size: 2rem;
  line-height: 38px;
  color: $text;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  border-bottom: 1px solid #ececec;
}
.team .teamblock__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 60px;
}
.team .teamblock__items-item {
  padding: 0 45px;
  position: relative;
  text-align: center;
}
.team .teamblock__items-item:before {
  content: '';
  position: absolute;
  right: 0;
  display: inline-block;
  height: 80%;
  width: 1px;
  background-color: #ececec;
  top: 10%;
}
.team .teamblock__items-item-image img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
  width: 100%;
}
.team .teamblock__items-item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}
.team .teamblock__items-item:hover .teamblock__items-item-title {
  color: $red;
}
.team .teamblock__items-item-title {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: $text;
  font-size: 1.125rem;
  margin-top: 20px;
  line-height: 17px;
  margin-bottom: 6px;
  font-family: Medium;
}
.team .teamblock__items-item-subtitle {
  font-size: 0.75rem;
  font-family: Regular;
  color: rgba(17,17,17,0.6);
  line-height: 17px;
  margin-bottom: 15px;
}
.team .teamblock__items-item-text {
  font-size: 0.75rem;
  font-family: Regular;
  line-height: 17px;
  color: $text;
}
.team .teamblock__items-item:last-child:before {
  display: none;
}
@media (max-width: 1040px) {
  .team {
    height: 100%;
    padding-bottom: 40px;
  }
  .team .teamblock {
    margin: 0;
  }
  .team .teamblock__title {
    height: 80px;
    padding: 0;
  }
  .team .teamblock__items {
    padding: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .team .teamblock__items-item {
    padding: 30px 5px 0 5px;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .team .teamblock__items-item:before {
    display: none;
  }
  .team .teamblock__items-item-text {
    font-size: 1rem;
  }
  .team .teamblock__items-item-subtitle {
    font-size: 1rem;
  }
}
